APP_NAME=LaravelAPI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
TELESCOPE_ENABLED=true
APP_URL=http://localhost

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=

# 支付宝支付配置
ALIPAY_ENABLE=false
ALIPAY_APP_ID=
ALIPAY_PUBLIC_KEY=
ALIPAY_PRIVATE_KEY=

#微信支付配置
WECHATPAY_ENABLE=false
WECHATPAY_APP_ID=
WECHATPAY_MCH_ID=
WECHATPAY_KEY=
WECHATPAY_CERT_CLIENT=
WECHATPAY_CERT_KEY=

WECHAT_OFFICIAL_ACCOUNT_ENABLE=false
WECHAT_OFFICIAL_ACCOUNT_APPID=
WECHAT_OFFICIAL_ACCOUNT_SECRET=
WECHAT_OFFICIAL_ACCOUNT_TOKEN=
WECHAT_OFFICIAL_ACCOUNT_AES_KEY=

# 是否开启短信验证码
SMS_CODE_ENABLE=false
SMS_TTL=
# 阿里云配置
ALI_ACCESS_KEY_ID=
ALI_ACCESS_KEY_SECRET=
# 阿里云短信签名
ALI_SMS_SIGN_NAME=
